{
    "ports": {
        "api": 3000,
        "webhook": 3001
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379,
        "password": null
    },
    "db": {
        "host": "127.0.0.1",
        "port": 3306,
        "username": "user",
        "password": "pass123",
        "database": "node",
        "rootUsername": "root",
        "rootPassword": "pass123",
        "charset": "utf8mb4",
        "debug": true,
        "connectionLimit": 1000
    },
    "webhook": {
        "urls": ["http://127.0.0.1:4000"],
        "delay": 5
    }
}